@import "../../scss/index";

.rect {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0, 0, 0);
	color: $text-day-inactive-color;
	background-color: $bg-day-color;
}

.rect:hover {
	color: $text-day-color;
}
