@import "../../../scss/index.custom";

.wrapGlobal {
	width: 100%;
	height: 100vh;
	padding: 0px !important;
	background: no-repeat url("../../../img/land_1.jpg") !important;
	background-size: cover !important;
	overflow-y: hidden;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.top {
	width: 100%;
	height: 40%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.middle {
	width: 100%;
	height: 60%;
	font-weight: 700;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerText {
	font-family: $font-alt;
	font-size: 72px;
	font-weight: bold;
}
