@import "../../../../scss/index.custom";

.entity {
	width: 300px;
	height: 300px;
	margin: 25px;
	background-color: $white-soft-color;
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);

	cursor: pointer;

	.containerStyled {
		display: flex;
		flex-direction: column;
		padding: 0px 10px 0 10px;
	}

	.rowTop {
		height: 80%;

		.colTopStyled {
			margin: auto;
			text-align: center;
		}
	}

	.rowBot {
		height: 20%;
		background-color: $white-color;
		text-align: center;
		box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);

		.iconBotStyled {
			margin: auto 0px auto 20px;
		}

		.colBotStyled {
			margin: auto auto auto 20px;
			text-align: left;
		}
	}
}
