@import "../../../../scss/index.custom";

.entityBig {
	width: 300px;
	height: 300px;
	margin: 25px;
	background-color: $white-soft-color;
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);

	cursor: pointer;

	.containerStyled {
		display: flex;
		flex-direction: column;
		padding: 0px 10px 0 10px;
	}

	.rowTop {
		height: 80%;

		.colTopStyled {
			margin: auto;
			text-align: center;
		}
	}

	.rowBot {
		height: 20%;
		background-color: $white-color;
		text-align: center;
		box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
        flex-wrap: nowrap;

		.iconBotStyled {
			margin: auto 0px auto 20px;
		}

		.colBotStyled {
            font-size: 0.8rem;
            @include sm() {
                font-size: 0.75rem;
            }
            
            
            overflow: hidden !important;

            .pStyled {
                padding-left: 15px;
                display:inline-block;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }
            
            display: flex;
            flex-direction: row;
            align-items: center;

			text-align: left;
		}
	}
}

.entitySmall {
	// width: 180px;
	// height: 180px;
    // margin: 10px;
    margin-bottom: 80px;
    height: 100%;
	background-color: $white-soft-color;
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);

	cursor: pointer;

	.containerStyled {
		display: flex;
		flex-direction: column;
		padding: 0px 10px 0 10px;
	}

	.rowTop {
		height: 75%;

		.colTopStyled {
			margin: auto;
			text-align: center;
		}
	}

	.rowBot {
		height: 25%;
		background-color: $white-color;
		box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);

		.iconBotStyled {
			margin: auto 0px auto 20px;
		}

		.colBotStyled {
            font-size: 0.8rem;
            @include sm() {
                font-size: 0.75rem;
            }

            display: flex;
            flex-direction: column;
            justify-content: center;

			text-align: left;
		}
	}
}
