@import "../../../../scss/index.custom";

.entity {
	width: 300px;
	height: 300px;
	margin: 25px;
	background-color: $white-soft-color;
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.15);

	cursor: pointer;

	.containerStyled {
		display: flex;
		flex-direction: column;
		padding: 0px 10px 0 10px;
	}

	.hrStyled {
		background-color: $gray-dark-color;
		line-height: 1px;
		width: 100%;
	}

	.rowTop {
		height: 80%;
	}

	.rowBot {
		height: 20%;
		// margin: 20px 0 20px 0;
		background-color: $white-color;
	}
}
