@import "../../../scss/index.custom";

.navbar {
	// width: 20%;
	background-color: $bg-day-color;
}

.containerCustom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: $bg-day-color;
}

.upload {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.col {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100px !important;
}

.hrStyled {
	background-color: $gray-dark-color;
	line-height: 1px;
	width: 100%;
}

.wrapTop {
}

.wrapBot {
	font-size: $font-size-small;

	.groupBot {
		display: flex;
		flex-direction: column;
	}

	.pStyled {
		font-size: $font-size-def;
		font-weight: bold;
	}
}

.notice {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 0.5);
	animation: flicker 1s linear infinite alternate;
}

.noticeOk {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(0, 255, 0, 0.5);
	animation: none;
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
