@import "../../../scss/index.custom";

.navbar {
	background-color: $bg-day-color;
}

.containerCustom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.col {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100px !important;
}

.hrStyled {
	background-color: $gray-dark-color;
	line-height: 1px;
	width: 100%;
}

.wrapTop {
}

.wrapBot {
	font-size: $font-size-small;

	.groupBot {
		display: flex;
		flex-direction: column;
	}

	.pStyled {
		font-size: $font-size-def;
		font-weight: bold;
	}
}
