@import "../../../scss/index.custom";

.containerStyled {
	height: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.colStyled {
	margin-right: auto;
}

.rowTopStyled {
	padding: 1em !important;

	.hrStyled {
		background-color: $gray-dark-color;
		line-height: 1px;
		width: 100%;
	}
}

.rowBotStyled {
	overflow: scroll;
	height: calc(100vh - 13.5em);
}

.divNavStyled {
	display: flex;
	flex-direction: row;

	font-size: $font-size-big;
}
