@import "../../../scss/index";

.panelHeader {
	height: 65px;
	color: $text-day-alt-color;
	background-color: $header-day-color;

	.row {
		@include centerY;
		.col {
			display: flex;
			align-items: center;
			&.right {
				justify-content: space-around;
			}
		}
	}
}
