@import "../../../scss/index.custom";

.panelHeader {
	height: 65px !important;
	color: $text-day-alt-color;
	background-color: $header-day-color;

	.row {
		@include centerY;
		.col {
			display: flex;
			align-items: center;
			&.right {
				justify-content: space-around;
			}

			.imgStyled {
				cursor: pointer;
			}

			.pStyled {
				display: block;
			}

			@include sm() {
				.pStyled {
					display: none;
				}
			}
		}
	}
}
